@charset "UTF-8";
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.contact-data-item > input, .contact-data-item > textarea {
  margin-top: 4px;
  font-size: 14px;
  color: #212121;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline-style: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  min-width: 320px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.address {
  font-style: normal;
}

.wrapper {
  padding: 0px 15px;
  margin: 0 auto;
}

.hero .wrapper {
  padding-top: 119px;
  padding-bottom: 119px;
}

.benefits .wrapper,
.team .wrapper,
.сlients .wrapper,
.portfolio .wrapper,
.footer .wrapper {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 480px) {
  .wrapper {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .wrapper {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .wrapper {
    width: 1200px;
  }
  .hero .wrapper {
    padding-top: 200px;
    padding-bottom: 200px;
  }
  .benefits .wrapper,
  .team .wrapper,
  .сlients .wrapper,
  .portfolio .wrapper {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .direction .wrapper {
    padding-bottom: 94px;
  }
  .footer .wrapper {
    display: flex;
    align-items: baseline;
  }
}

.logo {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.667;
  letter-spacing: 0.03em;
  color: #2196f3;
  font-family: "Raleway", sans-serif;
  font-style: normal;
}

@media screen and (min-width: 768px) {
  .logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    color: #2196f3;
    font-family: "Raleway", sans-serif;
    font-style: normal;
  }
}

.logo-header {
  color: black;
}

.logo-footer {
  color: white;
}

.header-menu-btn {
  display: inline-flex;
  margin: 0;
  padding: 10px 0;
  margin-left: auto;
  border: none;
  background-color: transparent;
}

.header-menu-btn-icon {
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-btn-close-icon {
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-btn.is-open .header-menu-btn-close-icon {
  opacity: 1;
}

.header-menu-btn.is-open .header-menu-btn-icon {
  opacity: 0;
}

.header-menu-btn:hover > svg, .header-menu-btn:focus > svg {
  fill: #2196f3;
}

@media screen and (min-width: 768px) {
  .header-menu-btn {
    display: none;
  }
}

.menu-container {
  display: block;
  background-color: #fff;
}

@media screen and (max-width: 767px) {
  .menu-container {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    z-index: 0;
    padding: 60px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visiblity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-container.is-open {
    z-index: 2;
    visibility: visible;
    opacity: 1;
    pointer-events: initial;
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: flex;
    align-items: center;
    flex-grow: 1;
  }
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  min-height: 50px;
  border-radius: 4px;
  border-style: none;
  outline-style: none;
  margin-top: 30px;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: white;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.body-lock {
  overflow: hidden;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: visibility 300ms linear, opacity 300ms linear;
  perspective: 600px;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: visibility 250ms linear 200ms, opacity 250ms linear 200ms;
}

.modal {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 450px;
  min-width: 320px;
  max-width: 100%;
  height: 609px;
  max-height: 100%;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  opacity: 1;
  transform: translate(-50%, -50%) scale(1) rotatey(-360deg);
  transition: all 250ms linear 200ms;
  /* overflow-y: auto; */
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.backdrop.is-hidden .modal {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0);
  transition: all 300ms linear;
}

.modal-main {
  position: absolute;
  left: 40px;
  top: 40px;
  right: 40px;
  bottom: 40px;
  overflow-y: auto;
  scrollbar-width: none;
  /*в мозилле работает :)*/
}

.modal-main::-webkit-scrollbar {
  width: 0px;
}

.modal-main > p {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #212121;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .modal-main > p {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    color: #212121;
    font-family: "Roboto", sans-serif;
    font-style: normal;
  }
}

.modal-main > form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 12px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1667;
  letter-spacing: 0.01em;
  color: #757575;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

.modal-main > form input[type='checkbox'] {
  appearance: none;
  position: absolute;
}

.contact-data {
  width: 100%;
}

.contact-data > .contact-data-item + .contact-data-item {
  margin-top: 10px;
}

.contact-data-item {
  position: relative;
  display: flex;
  flex-direction: column;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-data-item-svg {
  position: absolute;
  left: 12px;
  top: 50%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-data-item > input:focus ~ .contact-data-item-svg {
  fill: #2196f3;
}

.contact-data-item > input {
  height: 40px;
  padding-left: 42px;
}

.contact-data-item > input:focus {
  border-color: #2196f3;
}

.contact-data-item > textarea {
  padding: 12px 16px;
  height: 120px;
  resize: none;
}

.contact-data-item > textarea:focus {
  border-color: #2196f3;
}

.contact-data-item > textarea::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

.check-accept {
  display: inline-flex;
  align-items: center;
  margin-top: 20px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.667;
  letter-spacing: 0.03em;
  color: #757575;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

@media screen and (min-width: 1200px) {
  .check-accept {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: #757575;
    font-family: "Roboto", sans-serif;
    font-style: normal;
  }
}

.check-accept a {
  color: #2196f3;
}

.check-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 8.38px;
  border: 2px solid #212121;
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-accept > input:focus ~ .check-icon {
  border: 2px solid #2196f3;
}

.check-accept > input:checked ~ .check-icon {
  background-color: #2196f3;
  background-image: url("../img/icon_check.svg");
  background-size: contain;
  background-origin: border-box;
  border-color: transparent;
}

.close-modal-btn {
  position: absolute;
  right: 8px;
  top: 8px;
  z-index: 3;
  width: 30px;
  height: 30px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.close-modal-btn > svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal-btn:hover > svg, .close-modal-btn:focus > svg {
  fill: #2196f3;
}

.direction-title,
.team-title,
.clients-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.179;
  letter-spacing: 0.03em;
  color: #212121;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .direction-title,
  .team-title,
  .clients-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.167;
    letter-spacing: 0.03em;
    color: #212121;
    font-family: "Roboto", sans-serif;
    font-style: normal;
  }
}

.header {
  position: relative;
  background-color: white;
  border-bottom: 1px solid #ececec;
}

.header .navigation {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .navigation-list > li + li {
    margin-top: 35px;
  }
  .address-list {
    margin-top: 48px;
  }
  .address-list > li + li {
    margin-top: 16px;
  }
}

@media screen and (min-width: 768px) {
  .navigation-list {
    margin-left: 88px;
  }
  .navigation-list > li + li {
    margin-left: 50px;
  }
  .address-list {
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .address-list > li + li {
    margin-top: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .address-list > li + li {
    margin-left: 30px;
  }
}

.navigation-list-link {
  display: inline-block;
  position: relative;
  padding-bottom: 12px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.167;
  letter-spacing: 0.02em;
  color: #212121;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .navigation-list-link {
    padding-top: 32px;
    padding-bottom: 31px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: #212121;
    font-family: "Roboto", sans-serif;
    font-style: normal;
  }
}

.navigation-list-link:hover, .navigation-list-link:focus {
  color: #2196f3;
  fill: #2196f3;
}

@media screen and (min-width: 768px) {
  .navigation-list {
    display: flex;
    align-items: center;
  }
}

.header-address-icon {
  margin-right: 10px;
  fill: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-address-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.167;
  letter-spacing: 0.02em;
  color: #757575;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .header-address-link {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.167;
    letter-spacing: 0.02em;
    color: #757575;
    font-family: "Roboto", sans-serif;
    font-style: normal;
  }
}

@media screen and (min-width: 1200px) {
  .header-address-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.167;
    letter-spacing: 0.02em;
    color: #757575;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 31px;
  }
}

.header-address-link:hover, .header-address-link:focus,
.header-address-link:hover .header-address-icon,
.header-address-link:focus .header-address-icon {
  color: #2196f3;
  fill: #2196f3;
}

@media screen and (min-width: 1200px) {
  .address-list {
    display: flex;
    align-items: center;
  }
}

#active-page {
  color: #2196f3;
}

#active-page::after {
  display: block;
  position: absolute;
  bottom: 0px;
  content: '';
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: currentColor;
}

.hero {
  background-color: #c4c4c4;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/bg_hero/hero_mob@1x.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-attachment: scroll;
  text-align: center;
}

@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/bg_hero/hero_mob@2x.jpg");
  }
}

@media screen and (min-width: 576px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/bg_hero/hero_tab@1x.jpg");
  }
}

@media screen and (min-width: 576px) and (min-device-pixel-ratio: 2), screen and (min-width: 576px) and (min-resolution: 192dpi), screen and (min-width: 576px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/bg_hero/hero_tab@2x.jpg");
  }
}

@media screen and (min-width: 960px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/bg_hero/hero_desk@1x.jpg");
  }
}

@media screen and (min-width: 960px) and (min-device-pixel-ratio: 2), screen and (min-width: 960px) and (min-resolution: 192dpi), screen and (min-width: 960px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/bg_hero/hero_desk@2x.jpg");
  }
}

.hero-title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.615;
  letter-spacing: 0.06em;
  color: white;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.364;
    letter-spacing: 0.06em;
    color: white;
    font-family: "Roboto", sans-serif;
    font-style: normal;
  }
}

@media screen and (min-width: 768px) {
  .benefits-list {
    display: inline-flex;
    margin: -15px;
  }
}

@media screen and (max-width: 1199px) {
  .benefits-list {
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .benefits-list {
    justify-content: space-between;
  }
}

@media screen and (max-width: 767px) {
  .benefits-list-item + .benefits-list-item {
    margin-top: 30px;
  }
}

.benefits-list-item {
  display: block;
}

@media screen and (min-width: 768px) {
  .benefits-list-item {
    display: flex;
    flex-direction: column;
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .benefits-list-item {
    width: calc((100% - 8 * 15px) / 4);
  }
}

.benefits-list-item > h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  color: #212121;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  text-transform: uppercase;
  margin-top: 30px;
}

@media screen and (max-width: 767px) {
  .benefits-list-item > h3 {
    text-align: center;
  }
}

.benefits-list-item > p {
  display: block;
  min-height: 50px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  .benefits-list-item > p {
    min-height: 75px;
  }
}

.benefits-list-item-icon {
  display: inline-block;
  --color1: rgb(33, 150, 243);
  --color2: rgb(33, 33, 33);
  --color3: rgb(33, 150, 243);
  transition: all 5000ms;
}

.benefits-list-item-icon-bcg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.benefits-list-item-icon-bcg:hover .benefits-list-item-icon {
  --color1: rgb(217, 79, 230);
  --color2: rgb(33, 150, 243);
  --color3: rgb(255, 255, 255);
}

.direction {
  display: none;
}

@media screen and (min-width: 1200px) {
  .direction {
    display: block;
  }
  .direction-list {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
  }
  .direction-list-item {
    position: relative;
  }
  .direction-list-item::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
  }
  .direction-list-item > p {
    position: absolute;
    bottom: 27px;
    width: 100%;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    color: white;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    text-align: center;
    text-transform: uppercase;
  }
}

.team {
  background-color: #f5f4fa;
}

.team-list {
  display: block;
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    margin: 15px -15px -15px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-list {
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .team-list {
    margin-top: 35px;
  }
}

@media screen and (max-width: 767px) {
  .team-list-item + .team-list-item {
    margin-top: 30px;
  }
}

.team-list-item {
  max-width: 450px;
  padding-bottom: 24px;
  border-radius: 0px 0px 4px 4px;
  background-color: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 768px) {
  .team-list-item {
    max-width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .team-list-item {
    max-width: calc((100% - 8 * 15px) / 4);
  }
}

.team-list-item-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
  color: #212121;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  text-align: center;
  margin-top: 30px;
}

.team-list-item-spec {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
  color: #757575;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  text-align: center;
  margin-top: 10px;
}

.team-list-item-groop {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.team-list-item-groop > li + li {
  margin-left: 10px;
}

.team-list-item-slink {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: white;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-list-item-slink:hover, .team-list-item-slink:focus {
  background-color: #2196f3;
}

.team-list-item-slink:hover .team-list-item-slink-icon, .team-list-item-slink:focus .team-list-item-slink-icon {
  fill: white;
}

.team-list-item-slink-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 30px;
}

@media screen and (max-width: 1199px) {
  .clients-list {
    margin: 15px -15px -15px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-list {
    justify-content: space-between;
    margin-top: 50px;
  }
}

.clients-list-item {
  width: calc((100% - 4 * 15px) / 2);
}

@media screen and (min-width: 768px) {
  .clients-list-item {
    width: calc((100% - 6 * 15px) / 3);
  }
}

@media screen and (max-width: 1199px) {
  .clients-list-item {
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-list-item {
    width: calc((100% - 12 * 15px) / 6);
  }
}

.clients-list-item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list-item-link:hover, .clients-list-item-link:focus {
  border: 1px solid #2196f3;
}

.clients-list-item-link:hover .clients-list-item-link-icon, .clients-list-item-link:focus .clients-list-item-link-icon {
  fill: #2196f3;
}

.clients-list-item-link-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  background-color: #2f303a;
}

@media screen and (min-width: 768px) {
  .footer .footer-top-tablet {
    display: flex;
    align-items: baseline;
  }
}

@media screen and (max-width: 1199px) {
  .footer {
    text-align: center;
  }
  .footer .footer-top-tablet {
    justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .footer .footer-top-tablet {
    width: calc((100% / 2) - 7%);
    justify-content: space-between;
  }
}

.footer .address {
  margin-top: 20px;
}

.footer .invite {
  width: 206px;
}

@media screen and (max-width: 767px) {
  .footer .invite {
    margin: 60px auto 0;
  }
}

.footer .invite-title,
.footer .joinnews-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  color: white;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  text-transform: uppercase;
}

@media screen and (max-width: 1199px) {
  .footer .joinnews {
    margin-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer .joinnews {
    margin-left: auto;
  }
}

.footer .joinnews > form {
  margin-top: 20px;
}

@media screen and (max-width: 1199px) {
  .footer .joinnews > form {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .footer .joinnews > form {
    display: inline-flex;
    align-items: center;
  }
}

@media screen and (max-width: 1199px) {
  .footer .btn {
    margin-top: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .footer .btn {
    margin-top: 0;
    margin-left: 10px;
  }
}

.footer .btn::after {
  content: '';
  display: block;
  width: 24px;
  height: 24px;
  margin-left: 10px;
  background-image: url("../img/icon_send.svg");
}

.footer-address-list > .footer-address-list-item + .footer-address-list-item {
  margin-top: 9px;
}

.footer-address-list-item-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

.footer-address-list-item-link[title='location'] {
  color: white;
}

.invite-social-list {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.invite-social-list-item-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.invite-social-list-item-link:hover, .invite-social-list-item-link:focus {
  background-color: #2196f3;
}

.invite-social-list-item-link-icon {
  fill: white;
}

.joinnews-in-email {
  width: 100%;
  max-width: 450px;
  height: 50px;
  padding: 0px 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: white;
  background-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 1199px) {
  .joinnews-in-email {
    display: block;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .joinnews-in-email {
    width: 358px;
  }
}

.joinnews-in-email::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
/*# sourceMappingURL=main.css.map */