@charset "UTF-8";
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  min-width: 320px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.address {
  font-style: normal;
}

.wrapper {
  padding: 0px 15px;
  margin: 0 auto;
}

.hero .wrapper {
  padding-top: 119px;
  padding-bottom: 119px;
}

.benefits .wrapper,
.team .wrapper,
.сlients .wrapper,
.portfolio .wrapper,
.footer .wrapper {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 480px) {
  .wrapper {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .wrapper {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .wrapper {
    width: 1200px;
  }
  .hero .wrapper {
    padding-top: 200px;
    padding-bottom: 200px;
  }
  .benefits .wrapper,
  .team .wrapper,
  .сlients .wrapper,
  .portfolio .wrapper {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .direction .wrapper {
    padding-bottom: 94px;
  }
  .footer .wrapper {
    display: flex;
    align-items: baseline;
  }
}

.logo {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.667;
  letter-spacing: 0.03em;
  color: #2196f3;
  font-family: "Raleway", sans-serif;
  font-style: normal;
}

@media screen and (min-width: 768px) {
  .logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    color: #2196f3;
    font-family: "Raleway", sans-serif;
    font-style: normal;
  }
}

.logo-header {
  color: black;
}

.logo-footer {
  color: white;
}

.header-menu-btn {
  display: inline-flex;
  margin: 0;
  padding: 10px 0;
  margin-left: auto;
  border: none;
  background-color: transparent;
}

.header-menu-btn-icon {
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-btn-close-icon {
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-btn.is-open .header-menu-btn-close-icon {
  opacity: 1;
}

.header-menu-btn.is-open .header-menu-btn-icon {
  opacity: 0;
}

.header-menu-btn:hover > svg, .header-menu-btn:focus > svg {
  fill: #2196f3;
}

@media screen and (min-width: 768px) {
  .header-menu-btn {
    display: none;
  }
}

.menu-container {
  display: block;
  background-color: #fff;
}

@media screen and (max-width: 767px) {
  .menu-container {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    z-index: 0;
    padding: 60px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visiblity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-container.is-open {
    z-index: 2;
    visibility: visible;
    opacity: 1;
    pointer-events: initial;
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: flex;
    align-items: center;
    flex-grow: 1;
  }
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  min-height: 50px;
  border-radius: 4px;
  border-style: none;
  outline-style: none;
  margin-top: 30px;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: white;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.header {
  position: relative;
  background-color: white;
  border-bottom: 1px solid #ececec;
}

.header .navigation {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .navigation-list > li + li {
    margin-top: 35px;
  }
  .address-list {
    margin-top: 48px;
  }
  .address-list > li + li {
    margin-top: 16px;
  }
}

@media screen and (min-width: 768px) {
  .navigation-list {
    margin-left: 88px;
  }
  .navigation-list > li + li {
    margin-left: 50px;
  }
  .address-list {
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .address-list > li + li {
    margin-top: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .address-list > li + li {
    margin-left: 30px;
  }
}

.navigation-list-link {
  display: inline-block;
  position: relative;
  padding-bottom: 12px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.167;
  letter-spacing: 0.02em;
  color: #212121;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .navigation-list-link {
    padding-top: 32px;
    padding-bottom: 31px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: #212121;
    font-family: "Roboto", sans-serif;
    font-style: normal;
  }
}

.navigation-list-link:hover, .navigation-list-link:focus {
  color: #2196f3;
  fill: #2196f3;
}

@media screen and (min-width: 768px) {
  .navigation-list {
    display: flex;
    align-items: center;
  }
}

.header-address-icon {
  margin-right: 10px;
  fill: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-address-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.167;
  letter-spacing: 0.02em;
  color: #757575;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .header-address-link {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.167;
    letter-spacing: 0.02em;
    color: #757575;
    font-family: "Roboto", sans-serif;
    font-style: normal;
  }
}

@media screen and (min-width: 1200px) {
  .header-address-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.167;
    letter-spacing: 0.02em;
    color: #757575;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 31px;
  }
}

.header-address-link:hover, .header-address-link:focus,
.header-address-link:hover .header-address-icon,
.header-address-link:focus .header-address-icon {
  color: #2196f3;
  fill: #2196f3;
}

@media screen and (min-width: 1200px) {
  .address-list {
    display: flex;
    align-items: center;
  }
}

#active-page {
  color: #2196f3;
}

#active-page::after {
  display: block;
  position: absolute;
  bottom: 0px;
  content: '';
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: currentColor;
}

.portfolio-filter {
  display: flex;
}

@media screen and (max-width: 767px) {
  .portfolio-filter {
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: -7.5px -4px 47.5px -4px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio-filter {
    justify-content: center;
    margin-bottom: 45px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-filter {
    margin-bottom: 65px;
  }
}

@media screen and (max-width: 767px) {
  .portfolio-filter-item {
    margin: 7.5px 4px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio-filter-item:not(:first-child) {
    margin-left: 8px;
  }
}

.portfolio-filter-item-btn {
  border-radius: 4px;
  border-style: none;
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  color: #212121;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  text-align: center;
  background-color: #f5f4fa;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-filter-item-btn:hover, .portfolio-filter-item-btn:focus {
  color: white;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  outline-style: none;
}

.portfolio-list {
  margin: -15px;
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    display: flex;
    flex-flow: row wrap;
  }
}

.portfolio-list-item {
  margin: 15px;
  max-width: 450px;
}

@media screen and (min-width: 768px) {
  .portfolio-list-item {
    display: flex;
    flex-basis: calc((100% - 4 * 15px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-list-item {
    flex-basis: calc((100% - 6 * 15px) / 3);
  }
}

.portfolio-list-item .link {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .portfolio-list-item .link {
    display: flex;
    flex-direction: column;
  }
}

.portfolio-list-item .link:hover, .portfolio-list-item .link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-list-item-img {
  position: relative;
  overflow: hidden;
}

.portfolio-list-item-img > p {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  padding: 24px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.556;
  letter-spacing: 0.03em;
  color: white;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translate(0, 100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 479px) {
  .portfolio-list-item-img > p {
    font-size: 5vw;
  }
}

.portfolio-list-item .link:hover .portfolio-list-item-img > p,
.portfolio-list-item .link:focus .portfolio-list-item-img > p {
  transform: translate(0, 0);
}

.portfolio-list-container {
  flex-grow: 1;
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
  background-color: white;
}

.portfolio-list-container > h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

.portfolio-list-container > p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: #757575;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  margin-top: 4px;
}

.footer {
  background-color: #2f303a;
}

@media screen and (min-width: 768px) {
  .footer .footer-top-tablet {
    display: flex;
    align-items: baseline;
  }
}

@media screen and (max-width: 1199px) {
  .footer {
    text-align: center;
  }
  .footer .footer-top-tablet {
    justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .footer .footer-top-tablet {
    width: calc((100% / 2) - 7%);
    justify-content: space-between;
  }
}

.footer .address {
  margin-top: 20px;
}

.footer .invite {
  width: 206px;
}

@media screen and (max-width: 767px) {
  .footer .invite {
    margin: 60px auto 0;
  }
}

.footer .invite-title,
.footer .joinnews-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  color: white;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  text-transform: uppercase;
}

@media screen and (max-width: 1199px) {
  .footer .joinnews {
    margin-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer .joinnews {
    margin-left: auto;
  }
}

.footer .joinnews > form {
  margin-top: 20px;
}

@media screen and (max-width: 1199px) {
  .footer .joinnews > form {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .footer .joinnews > form {
    display: inline-flex;
    align-items: center;
  }
}

@media screen and (max-width: 1199px) {
  .footer .btn {
    margin-top: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .footer .btn {
    margin-top: 0;
    margin-left: 10px;
  }
}

.footer .btn::after {
  content: '';
  display: block;
  width: 24px;
  height: 24px;
  margin-left: 10px;
  background-image: url("../img/icon_send.svg");
}

.footer-address-list > .footer-address-list-item + .footer-address-list-item {
  margin-top: 9px;
}

.footer-address-list-item-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

.footer-address-list-item-link[title='location'] {
  color: white;
}

.invite-social-list {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.invite-social-list-item-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.invite-social-list-item-link:hover, .invite-social-list-item-link:focus {
  background-color: #2196f3;
}

.invite-social-list-item-link-icon {
  fill: white;
}

.joinnews-in-email {
  width: 100%;
  max-width: 450px;
  height: 50px;
  padding: 0px 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: white;
  background-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 1199px) {
  .joinnews-in-email {
    display: block;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .joinnews-in-email {
    width: 358px;
  }
}

.joinnews-in-email::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
/*# sourceMappingURL=portfolio.css.map */