$logo-font: 'Raleway', sans-serif;
$basic-font: 'Roboto', sans-serif;
$basic-text-color: rgb(33, 33, 33); //#212121
$description-text-color: rgb(117, 117, 117); //#757575
$accent-text-color: rgb(33, 150, 243); //#2196F3
$t-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$base-icon-color: rgb(175, 177, 184); //базовый цвет иконок
